<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>削除確認</title>
</head>
<body>

  <h2>一度削除した曲は復元することができません。本当に削除しますか？</h2>

  <p>
    以下の曲を削除しようとしています。
  </p>

  <ul>
    <h2><%= data.name %></h2>
  </ul>

  <!-- 削除確定 -->
  <form action="/phigros/delete/<%= id %>" method="POST">
    <input type="submit" value="はい、削除します">
  </form>

  <!-- キャンセル -->
  <a href="/phigros/<%= id %>">いいえ（詳細に戻る）</a>

</body>
</html>