<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>phigros 最高難易度曲(Level:AT)一覧</title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #aaa;
      padding: 8px 12px;
    }
    th {
      background-color: #f0f0f0;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h2>Phigros 最高難易度曲(Level:AT)一覧</h2>
  <table>
    <tr><th>曲名</th><th>難易度</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><a href="/phigros/<%= number %>"><%= row.name %></a></td>
        <td><%= row.level %></td>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/phigros/create">曲の情報を追加</a>
</body>
</html>